@page "/parentcomponent"

<h3>Parent Child Relation</h3>

@*<_Child OnButtonClick="ShowMessage" Title="This title passed as parameter from Parent">Render Fragment from Parent</_Child>*@
<CascadingValue Value="@messageForGrandChild">
    <_Child OnButtonClick="ShowMessage" Title="This title passed as parameter from Parent">
        <ChildContent>Render Fragment from Parent! WooHooo!!!</ChildContent>
        <DangerChildContent>Danger Render Fragment from Parent! WooHooo!!!</DangerChildContent>
    </_Child>
</CascadingValue>
<p><b>@messageText</b></p>
<_Child Title="This is second child"></_Child>

@*<_AnotherChild Placeholder="Placeholder from Parent"></_AnotherChild>*@
<_AnotherChild placeholder="placeholder from parent"></_AnotherChild>

@code {
    string messageText = string.Empty;
    string messageForGrandChild = "This message is from your grand parent (Parent)";

    void ShowMessage() => messageText = "Tangy button click from Child";
}
