@page "/category"

@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime

<_DeleteConfirmation IsParentLoading=@isLoading OnDeleteConfirmed=@DeleteConfirmed></_DeleteConfirmation>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-primary form-control">Add new category</a>
    </div>
    <div class="col-12 py-4">
        @if (categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categories)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <NavLink href=@($"/category/edit/{item.Id}") class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(item.Id)">Delete</button>
                                </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (isLoading)
            {
                <div class="text-center">
                    <img src="/images/gear.gif" />
                </div>
            }
            else
            {
                <p>No records found.</p>
            }
        }
    </div>
</div>

@code {
    IEnumerable<CategoryDTO> categories = new List<CategoryDTO>();
    bool isLoading;
    int deletedId = 0;

    //protected override void OnInitialized()
    //    => categories = _categoryRepository.GetAll();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
        }
    } 

    async Task LoadCategories()
    {
        isLoading = true;
        StateHasChanged();
        categories = await _categoryRepository.GetAll();
        isLoading = false;
        StateHasChanged();
    }

    void HandleDelete(int Id)
    {
        deletedId = Id;
        _jsRuntime.InvokeVoidAsync("showDeleteConfirmationModal");
    }

    async Task DeleteConfirmed(bool isConfirmed)
    {
        isLoading = true;
        if (isConfirmed && deletedId is not 0)
        {
            await _categoryRepository.Delete(deletedId);
            await LoadCategories();
            await _jsRuntime.InvokeVoidAsync("hideDeleteConfirmationModal");
        }
        isLoading = false;
    }


}
