<div>
    <h4 class="text-primary pt-3">Another Child</h4>
    @*will use placeholder from child*@
    <input id="name" @attributes="@InputAttributes" placeholder="Enter your name" />
    @*will still use placeholder from parent*@
    <input id="name" placeholder="Enter your name" @attributes="@InputAttributes" />
</div>


@code {
    //[Parameter]
    //public string Placeholder { get; set; } = "Initial value";
    //[Parameter]
    //public string Required { get; set; } = "required";
    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new();
}