<h3>_LifeCycleChild</h3>

@foreach (var item in EventType)
{
    @item
    <hr />
}

@code {
    List<string> EventType = new();
    [Parameter]
    public int CountValue { get; set; }

    protected override void OnInitialized() 
        => EventType.Add("Child - OnInitialized called");

    protected override void OnParametersSet()
        => EventType.Add("Child - OnParameterSet called");
}